.dashboard-navbar-wrapper {
    min-height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-icon {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #ddd;
}

.user-name {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}